.header {
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
.main {
    min-height: calc(100vh - 64px - 64px);
    background-color: #fff;
}
.footer {
    text-align: center;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}